<h2>Album Info</h2>

<table>
    <tr>
        <td>Artist:</td>
        <td><%= @album.band.name %></td>
    </tr>
    <tr>
        <td>Title:</td>
        <td><%= @album.title %>
    </tr>
    <tr>
        <td>Year:</td>
        <td><%= @album.year %>
    </tr>
    <tr>
        <td>Type:</td>
        <td><%= @album.album_type %>
    </tr>
</table>
